@import '../../global.scss';

.formContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 500px;
  height: 600px;
  border: gold 2px solid;
  margin: 100px;

  input {
    display: flex;
    flex-direction: column;
    height: 30px;
    width: 200px;
    margin: 50px;
  }
}