@import '../../global.scss';


  
  .intro {
    color: $maincolor;
    border: $maincolor;
    height: 500px;
    width: 500px;
  }
  
  .home {
  
    img {
      width:90%;
      height: 90%;
    }
  }

